* {
  box-sizing: border-box;
}
.nav-item {
  background-color: rgb(196, 206, 214);
  margin: 10px;
  padding: 10px 30px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.text-justify {
  text-align: justify;
}
.footer {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
