*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table{
    border: 5px solid black;
    border-collapse: collapse;
    margin: 20px auto;
}
th,td{
    padding: 10px;
    font-size:18px;
    font-weight: 500;
}
span.title{
    text-decoration: underline;
}
td span.result{
    color: blue;
}
.left{
    text-align: right;
}
tr:nth-child(1){
    background-color: #333;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:nth-child(3){
    background-color: #ccc;
}
tr:nth-child(5){
    background-color: #ccc;
}