.all{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-left: 200px;
}
.header{
    /* border: 1px solid black; */
    padding: 10px 255px 8px 30px;
    color: darkblue;
    font-weight: bold;
}
.content{
    /* border: 1px solid black; */
    margin: 3px 30px 3px 30px;
    padding: 0px 0px 0px 70px;
    color: darkgoldenrod;
    font-weight: bold;
}
